<!DOCTYPE html>
<html>
<head>
    <title>MathKids</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <h3>Account</h3>
        <div id="user-info"></div>
        <button id="logout-btn" style="display:none;">Logout</button>
        <br>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        <h3>Level 1</h3>
        <ul>
            <li><a href="/quiz/01/easy">Easy</a></li>
            <li><a href="/quiz/01/normal">Normal</a></li>
            <li><a href="/quiz/01/hard">Hard</a></li>
        </ul>
        <h3>Level 2</h3>
        <ul>
            <li><a href="/quiz/02/easy">Easy</a></li>
            <li><a href="/quiz/02/normal">Normal</a></li>
            <li><a href="/quiz/02/hard">Hard</a></li>
        </ul>
        <h3>Level 3</h3>
        <ul>
            <li><a href="/quiz/03/easy">Easy</a></li>
            <li><a href="/quiz/03/normal">Normal</a></li>
            <li><a href="/quiz/03/hard">Hard</a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
